$primary-color: #6777ef !default;
$base-bg: #fff !default;

$item-color: #868e96 !default;

$item-active-color: #6777ef !default;
$item-active-bg: #fff !default;

$item-open-color: #6777ef !default;
$item-open-bg: #fff !default;

$item-hover-color: null !default;
$item-hover-bg: rgba(darken($base-bg, 5%), 0.5) !default;

$icon-color: null !default;
$icon-bg: darken( $base-bg, 5% ) !default;

$icon-active-color: null !default;
$icon-active-bg: darken( $base-bg, 5% ) !default;

$icon-open-color: null !default;
$icon-open-bg: darken( $base-bg, 5% ) !default;

$mobile-item-color: #fff !default;
$mobile-item-bg: $primary-color !default;
$mobile-icon-color: $mobile-item-color !default;
$mobile-icon-bg: $mobile-item-bg !default;

$dropdown-bg: lighten( $base-bg, 5% ) !default;
$dropdown-color: null !default;

$item-font-size: 14px !default;
$item-line-height: 30px !default;
$item-padding: 10px 12px !default;
$icon-height: 32px !default;
$icon-width: 32px !default;

@import '~vue-sidebar-menu/src/scss/vue-sidebar-menu.scss';

.v-sidebar-menu {
    transition: 0.5s max-width ease;

    .vsm--toggle-btn {
        height: 65px;
        background-color: #fff;
        border-top  : 1px solid #E3EAEF;

        &:focus {
            outline: none;
        }
    }

    .vsm--link_active {
        color: $primary-color !important;
    }

    .vsm--link {
        transition: 0.5s all ease;
        display: flex !important;
    }

    .vsm--dropdown {
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .vsm--arrow {
        &_default {
            transition: 0.5s transform ease;
        }
    }

    .expand-enter-active,
    .expand-leave-active {
        transition: height 0.5s ease;
    }

    .slide-animation-enter-active {
        transition: width 0.5s ease;
    }

    .slide-animation-leave-active {
        transition: width 0.5s ease;
    }

    .fade-animation-enter-active {
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .fade-animation-leave-active {
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }
}
